* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.profile-image {
  float: right;
  width: 150px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  background-color: #d554c8;
  display: inline;
}

.multi-column {
  columns: 2;
}

li:hover {
  font-weight: bolder;
}
.headline {
animation-name: funny-aboutme;
animation-duration:2s ;
animation-timing-function: ease-in-out;
animation-delay: 1s; 
animation-iteration-count: 3;
animation-fill-mode: forwards;
}

@keyframes funny-aboutme {
  0% {
    background-color: #d55488; 
  }
  50% {
    background-color: #eaa9e3;
  }
  100% {
    background-color: #f6dcf4;
  }
}
  .profile-image:hover{ animation: tilt-shaking 0.25s infinite;
  }

  @keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }
