body{
    background:gray
      
  }
  .colo{
  background:white; 
    width:30%;
    height:350px;
    border:1px solid black;
    
  }
  .mainDiv{
    display:flex;
    flex-wrap: wrap
  }
  .mainDiv>div{
    margin-left:1%;
    margin-top:1%
      
  }
  small{
    color:#808080
  }
  .firstpage{
    display:flex
     ;flex-direction:column;
    align-items:center;
    justify-content:flex-start
  }
  .firstpage>div:last-child{
    
  }
  img{
    width:100%;
    height:auto;
  
  }
  #img{
    height:200px;
    overflow:hidden;
  }
  #titles{
    display:flex;
    flex-direction:column;
    
  }
  .button{
   width:100%;
    height:50px;
    background-color:lightblue;
    justify-content:center
    
  }
  a{
    text-decoration:none;
    color:black;
    font-weight:bold;
    width:100%;
    text-align:center;
    
    height:50px
  }
  p{
    margin-left:2%;
    text-align:justify;
    margin-right:2%
  }
  @media screen and (max-width:700px){
    body{
      background-color:black
    }
    .mainDiv{
      display:flex;
      flex-direction:column
    }
    .mainDiv>div{
      margin-top:2%
    }
    .colo{
      width:100% 
      ;margin-left:0px;
      
    }
    .firstpage{
      display:flex;
      flex-direction:column;
      align-items:flex-start;
    }
  }